body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family: 'Work Sans', sans-serif;
}
.navbar {
    background-color: #212529;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #212529;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-hardware .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: rgb(184, 184, 184);
}

.back-color {
    background-color: #bdbdbd57;
}

letter-color {
    color: #fff;
}

.carousel-item img {
    width: 100%;
    height: 800px;
}

.loja img {
    height: 400px;
}

.text {
    color: rgb(26, 26, 26);
}

.nav-hardware .nav-link.active {
    background-color: #212529;
    color: #fff;
}

.nav-hardware .nav-link:hover,
.icons i {
    color: #212529;
}

.icons {
    list-style: none;
    display: inline-flex;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    .sobre {
        display: block !important;
    }
}